<div class="chart-info">

  <div class="row">
    <div class="col-4 chart-info__category-column">
      <app-category-column [accountList]="accountList"
                           [category]="category"
                           [state]="'OK'"
                           [title]="'😃 OK'"></app-category-column>
    </div>
    <div class="col-4 chart-info__category-column">
      <app-category-column [accountList]="accountList"
                           [category]="category"
                           [state]="'Middelmatig'"
                           [title]="'😐 Middelmatig'"></app-category-column>
    </div>
    <div class="col-4 chart-info__category-column">
      <app-category-column [accountList]="accountList"
                           [category]="category"
                           [state]="'Helemaal niet OK'"
                           [title]="'😢 Niet OK'"></app-category-column>
    </div>
  </div>

</div>

