.dot1 {
  height: 9px;
  width: 9px;
  background-color: #FB8B24;
  border-radius: 50%;
  padding-top: auto;
  display: inline-block;
}

.dot2 {
  height: 9px;
  width: 9px;
  background-color: #EAC435;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 9px;
  width: 9px;
  background-color: #650D1B;
  border-radius: 50%;
  display: inline-block;
}
.dot4 {
  height: 9px;
  width: 9px;
  background-color: #0E1428;
  border-radius: 50%;
  display: inline-block;
}
.dot5 {
  height: 9px;
  width: 9px;
  background-color: #FFA987;
  border-radius: 50%;
  display: inline-block;
}
.dot6  {
  height: 9px;
  width: 9px;
  background-color: #7B9E89;
  border-radius: 50%;
  display: inline-block;
}

.container.container-rounded {
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(1, 1, 1, 0.7);
  background-color: #FFFFFF;
  padding: 10px 10px 10px 10px;
 }