<div class="chart">
  <ngx-charts-pie-chart
    [results]="chartData"
    [view]="[490, 280]"
    [labels]="showLabels"
    [scheme]="colorScheme"
    [animations]="true"
    [legend]="showLegend"
    [legendTitle]="''">
  </ngx-charts-pie-chart>
</div>
<div class="text-center">
  <span class="dotgreen"></span>
  <span class="legend-label-text">OK</span>
  <span class="dotorange"></span>
  <span class="legend-label-text"> Middelmatig </span>
  <span class="dotred"></span>
  <span class="legend-label-text">Helemaal niet OK</span>
</div>
