<div class="container row d-flex justify-content-between">
  <div class="img-container">
    <img class="img-fluid" src="{{account.logo}}" alt="{{account.name}}">
  </div>
</div>

<div class="table-container">
  <table>
    <tr>
      <td>Account</td>
      <td>{{account.name}}</td>
    </tr>
    <tr>
      <td>Segment</td>
      <td>{{account.segment}}</td>
    </tr>
    <tr>
      <td>TM</td>
      <td>{{account.tm}}</td>
    </tr>
    <tr>
      <td>Grootte</td>
      <td>{{account.nrOfPersons}}</td>
    </tr>
    <tr>
      <td>AM</td>
      <td>{{account.am}}</td>
    </tr>
    <tr>
      <td>Sector</td>
      <td>{{account.sector}}</td>
    </tr>
  </table>

  <table style="margin-top: 20px;">
    <tr>
      <td>Links</td>
    </tr>
    <tr>
      <td><a href="{{account.links.wiki}}"> <b>Wiki</b> </a></td>
      <td><a href="{{account.links.beehive}}"> <b>Beehive</b> </a></td>
      <td><a href="{{account.links.targetprocess}}"> <b>Target Process</b> </a></td>
      <td><a href="{{account.links.powerbi}}"> <b>PowerBI</b> </a></td>
    </tr>
  </table>
</div>

<div>
  <h5>Waarom zitten <b>wij</b> bij deze klant?</h5>
  {{account.name}} is de grootste Belgische bank waarmee AE in zee kan gaan. Strategische<br>
  zaken worden vanuit België beslist.<br>
  <br>
  AE wil {{account.name}} begeleiden in het opzetten van een future proof Big Data platform<br>
  met een duidelijke data governance om zo veel mogelijk waarde uit het programma te halen.<br>
  <br>
  Voor AE is dit project een kans om kennis uit te bouwen related aan Big Data,<br>
  maar niet beperkt hiertoe.<br>
  <br>
  AE tracht daarnaast een impact te hebben op alles omtrent API's bij {{account.name}}. AE kan<br>
  hier veel kennis uit halen om intern verder te verspreiden.<br>
  <br>
  AE wil breder uitbouwen bij deze klant omwille van de DNA connect en omwille van<br>
  het feit dat {{account.name}} op vele domeinen toch een digitale voortrekker is binnen de sector. <br>
</div>
<div>
  <br>
  <br>
</div>