<div class="container container-rounded">
  <div class="row d-flex justify-content-between">
    <div class="img-container">
      <img style="margin-left:30px;" class="img-fluid" src="{{account.logo}}" alt="{{account.name}}">
    </div>
  </div>

  <div class="table-container">
    <table>
      <tr>
        <td>Account</td>
        <td>{{account.name}}</td>
      </tr>
      <tr>
        <td>Segment</td>
        <td>{{account.segment}}</td>
      </tr>
      <tr>
        <td>TM</td>
        <td>{{account.tm}}</td>
      </tr>
      <tr>
        <td>Grootte</td>
        <td>{{account.nrOfPersons}}</td>
      </tr>
      <tr>
        <td>AM</td>
        <td>{{account.am}}</td>
      </tr>
      <tr>
        <td>Sector</td>
        <td>{{account.sector}}</td>
      </tr>
    </table>

    <table style="margin-top: 20px;">
      <tr>
        <td>Links</td>
      </tr>
      <tr>
        <td><a href="{{account.links.wiki}}"> <b>Wiki</b> </a></td>
        <td><a href="{{account.links.beehive}}"> <b>Beehive</b> </a></td>
        <td><a href="{{account.links.targetprocess}}"> <b>Target Process</b> </a></td>
        <td><a href="{{account.links.powerbi}}"> <b>PowerBI</b> </a></td>
      </tr>
    </table>
  </div>
</div>
