.container.container-rounded {
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(1, 1, 1, 0.7);
    background-color: #FFFFFF;
    padding: 10px 10px 10px 10px;
    width: 100%;
   }
  li{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
