
  <div class="row">
    <div class="col-md-4 container container-rounded" >
      <app-segment name="{{segments[0]}}" def="{{definitions[0]}}" [accounts]='accounts | segment:segments[0]'></app-segment>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4 container container-rounded">
            <app-segment name="{{segments[1]}}" def="{{definitions[1]}}" [accounts]='accounts | segment:segments[1]'></app-segment>
        </div>
        <div class="col-md-8 container container-rounded">
        <app-segment name="{{segments[2]}}" def="{{definitions[2]}}" [accounts]='accounts | segment:segments[2]'></app-segment>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12 container container-rounded">
          <app-segment name="{{segments[3]}}" def="{{definitions[3]}}" [accounts]='accounts | segment:segments[3]'></app-segment>
          </div>
          </div>
          <div class="row">
            <div class="col-md-12 container container-rounded" >
            <app-segment name="{{segments[4]}}" def="{{definitions[4]}}" [accounts]='accounts | segment:segments[4]'></app-segment>
            </div>
          </div>
        </div>
        <div class="col-md-4 container container-rounded">
        <app-segment name="{{segments[5]}}" def="{{definitions[5]}}" [accounts]='accounts | segment:segments[5]'></app-segment>
        </div>
      </div>
    </div>
  </div>
